# Angular / Frontend
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET / Backend
/src/SystemHealthAPI/.vs
/src/SystemHealthAPI/bin
/src/SystemHealthAPI/obj
/src/SystemHealthAPITests/bin/Debug/net8.0
/src/SystemHealthAPITests/obj
/src/OSMetricsRetriever/.vs/
/src/OSMetricsRetriever/obj
/src/OSMetricsRetriever/bin/
/src/OSMetricsRetriever/publish/
/src/OSMetricsRetrieverTests/bin
/src/OSMetricsRetrieverTests/obj

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Other
.vs


