# Angular / Frontend
/src/SystemHealthDashboard/.vs
/src/SystemHealthDashboard/.angular
/src/SystemHealthDashboard/coverage/
/src/SystemHealthDashboard/dist/
/src/SystemHealthDashboard/node_modules/

# .NET / Backend
/src/SystemHealthAPI/.vs
/src/SystemHealthAPI/bin
/src/SystemHealthAPI/obj
/src/SystemHealthAPITests/bin
/src/SystemHealthAPITests/obj
/src/OSMetricsRetriever/.vs/
/src/OSMetricsRetriever/obj
/src/OSMetricsRetriever/bin/
/src/OSMetricsRetriever/publish/
/src/OSMetricsRetrieverTests/bin
/src/OSMetricsRetrieverTests/obj

# Code Coverage
coverage-reports/
TestResults/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Other
.vs


